.information-page {
  width: 95%;
  margin: 10px auto 0 auto;

  &__body {

    &__title {
      font-size: $mobile-title-font-size;
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    &__text {
      line-height: 1.5rem;
    }

    &__figure > img {
      width: 100%;
      padding: 10px 0;
    }

    &__form {
      display: flex;
      justify-content: center;

      &__button {
        margin-top: 10px;
        font-size: 2rem;
        padding: 10px;
      }
    }
  }
}