.mapPage {
  width: 90%;
  margin: 0 auto;
  animation-name: fadeIn;
  animation-duration: 0.5s;

  &__text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
      font-size: $font-size-title;
      padding: 5rem 0;
      width: 100%;
      text-align: center;
    }

    &__description {
      font-size: $font-size-description;
      line-height: 1.2;
      padding: 2rem 0;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    padding: 1rem 0 0 0;

    &__figure {
      display: grid;
      grid-template-columns: repeat(18, minmax(0, 1fr));
      grid-template-rows: repeat(18, minmax(0, 1fr));
      height: 100vh;

      &__img {
        grid-column: 1 / span 18;
        grid-row: 1 / span 18;
        width: 100%;
        height: 100%;
        z-index: 4;
      }

      &__div {
        &__iconText {
          font-size: 2rem;
        }
      }

      &__ministry {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-column: 2;
        grid-row: 10;
        z-index: 5;
        cursor: pointer;

        &__icon-ministry {
          height: 90%;
          width: 100%
        }
      }

      &__goma {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-column: 17;
        grid-row: 8;
        z-index: 5;
        cursor: pointer;

        &__icon-village {
          height: 70%;
          width: 100%;
          padding-bottom: 0.5rem;
        }
      }

      &__goma__zoomed {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-column: 15;
        grid-row: 10;
        z-index: 5;
        cursor: pointer;

        &__icon-village {
          height: 70%;
          width: 100%;
          padding-bottom: 0.5rem;
        }
      }

      &__mine {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-column: 15;
        grid-row: 8;
        z-index: 5;
        cursor: pointer;

        &__icon-mine {
          height: 70%;
          width: 100%
        }
      }

      &__mine__zoomed {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-column: 8;
        grid-row: 10;
        z-index: 5;
        cursor: pointer;

        &__icon-mine {
          height: 70%;
          width: 100%
        }
      }

      &__clickable-div {
        content: "";
        display: block;
        grid-column: 9 / span 6;
        grid-row: 10 / span 4;
        z-index: 5;
        border: 1px solid pink;
      }
    }
  }
}

@media (min-width: 1920px) {
  .mapPage__map__figure__clickable-div {
    grid-column: 9 / span 3;
  }

  .mapPage__map__figure__ministry {
    grid-column: 5;
    grid-row: 11;
  }

  .mapPage__map__figure__goma {
    grid-column: 13;
  }

  .mapPage__map__figure__mine {
    grid-column: 11;
    grid-row: 7;
  }
}

@media (min-width: 1280px) {
  .mapPage__map__figure__clickable-div {
    grid-column: 9 / span 3;
  }

  .mapPage__map__figure__ministry {
    grid-column: 5;
    grid-row: 12;
  }

  .mapPage__map__figure__goma {
    grid-column: 13;
  }

  .mapPage__map__figure__mine {
    grid-column: 11;
    grid-row: 7;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}