.map {
  background-color: black;
  height: 100vh;
  padding: 10px 0;

  &__text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  &__map {
    width: 100vw;
    padding: 10px 0;

    &__figure {
      display: grid;
      grid-template-columns: repeat(9, minmax(0, 1fr));
      grid-template-rows: repeat(9, minmax(0, 1fr));

      &__img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      //  Align center when zooming code, just like with Fireman
      }

      &__clickable-div {
        content: "";
        display: block;
        border: 5px solid green;
        grid-column: 5 / span 3;
        grid-row: 5 / span 3;
      }
    }
  }
}

//@media (min-width: 1000px) {
//  .map_of_africa {
//
//  }
//}
