@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.map {
  background-color: black;
  height: 100vh;
  padding: 10px 0;
}
.map__text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.map__map {
  width: 100vw;
  padding: 10px 0;
}
.map__map__figure {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
}
.map__map__figure__img {
  width: 100%;
  grid-column: 1/span 9;
  grid-row: 1/span 9;
}
.map__map__figure__clickable-div {
  content: "";
  display: block;
  border: 5px solid green;
  grid-column: 5/span 3;
  grid-row: 5/span 3;
}

.index {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
}
.index__start {
  grid-column: 2/5;
  grid-row: 3;
  text-align: center;
  font-size: 9vh;
}
.index__start a {
  text-decoration: none;
  color: #e5e5e5;
}
.index__volume {
  grid-column: 1;
  grid-row: 5;
}

.start {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
}
.start__verhaalIntro {
  display: none;
  grid-column: 2/5;
  grid-row: 2;
  text-align: center;
  font-size: 5vh;
  color: #e5e5e5;
}
.start__verhaalIntro__keuzeOptie {
  line-height: 20vh;
}
.start__verhaalIntro__keuzeOptie a {
  color: #e5e5e5;
}

.nokia {
  margin: 0 auto;
}
.nokia__keyboard {
  position: fixed;
  bottom: 0;
  cursor: pointer;
}
.nokia__keyboard img {
  width: 100%;
  max-width: 500px;
}
.nokia__conversation {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  line-height: 1.2em;
  margin-top: 2.4em;
  margin-bottom: 40vh;
}
.nokia__conversation__naration {
  display: none;
  text-align: center;
  grid-column: 1/4;
  padding: 0.5em;
}
.nokia__conversation__naration a {
  color: #e5e5e5;
}
.nokia__conversation__left {
  display: none;
  text-align: left;
  grid-column: 1/3;
  padding: 0.5em 0;
}
.nokia__conversation__left p {
  padding-left: 8%;
}
.nokia__conversation__right {
  display: none;
  text-align: right;
  grid-column: 2/4;
  padding: 0.5em 0;
}
.nokia__conversation__right p {
  padding-right: 8%;
}
.nokia__conversation__name {
  font-size: 0.7em;
}

body {
  background-color: #404452;
  color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  max-width: 500px;
}

/*# sourceMappingURL=master.css.map */
