@import "variables";
.nokia {
  margin: 0 auto;
  max-width: 500px;
    &__keyboard {
    position: fixed;
    bottom: 0;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
  &__conversation {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    line-height: 1.2rem;
    margin-top: 2.4rem;
    margin-bottom: 40vh;
    &__naration {
      display: none;
      text-align: center;
      grid-column: 1/4;
      padding: 0.5rem;
      a {
        color: $text-color;
      }
    }
    &__left {
      display: none;
      text-align: left;
      grid-column: 1/3;
      padding: 0.5rem 0;
      p {
        padding-left: 8%;
      }
    }
    &__right {
      display: none;
      text-align: right;
      grid-column: 2/4;
      padding: 0.5rem 0;
      p {
        padding-right: 8%;
      }
    }
    &__name {
      font-size: 0.7rem;
    }
  }
}
